Repository 42-MyMisters/transcendence, pull requests merged in 2023-05, with the labels that each got.

#144 Mym 115 be refresh
  backend/back/package-lock.json
  backend/back/src/auth/auth.service.ts
  backend/back/src/login/login.controller.ts
Labels: - ⛃ Backend, -★★★-, backend

#147 Mym 101 refactoring Chat, add feature
  .gitignore
  backend/back/config/default.yml
  backend/back/src/auth/auth.service.ts
  backend/back/src/socket/chat.gateway.ts
  frontend/front/src/components/ChatPage/ChatRoomUserList.tsx
  frontend/front/src/components/ChatPage/ChatUserList.tsx
  frontend/front/src/components/ChatPage/RoomInviteModal.tsx
  frontend/front/src/components/ChatPage/UserInfoModal.tsx
  frontend/front/src/components/GamePage/PingPong.tsx
  frontend/front/src/components/ProfilePage/ProfileFriend.tsx
  frontend/front/src/components/TopBar.tsx
  frontend/front/src/components/atom/ChatAtom.ts
  frontend/front/src/components/atom/UserInfoModalAtom.ts
  frontend/front/src/components/objects/ChatRoom.tsx
  frontend/front/src/components/objects/UserObj.tsx
  frontend/front/src/event/api.request.ts
  frontend/front/src/pages/ChatPage.tsx
  frontend/front/src/socket/chat.dto.ts
  frontend/front/src/socket/chat.socket.ts
  frontend/front/src/styles/ChatRoom.css
  frontend/front/src/styles/ChatRoomUserList.css
Labels: - 🔰All Team, -★★★-, api, socket, chatting

#150 Mym 124 dm
  backend/back/src/database/database.service.ts
  backend/back/src/database/entity/direct-message.entity.ts
  backend/back/src/socket/chat.gateway.ts
  frontend/front/src/assets/private.png
  frontend/front/src/components/ChatPage/ChatArea.tsx
  frontend/front/src/components/ChatPage/ChatRoomList.tsx
  frontend/front/src/components/ChatPage/ChatRoomUserList.tsx
  frontend/front/src/components/ChatPage/ChatUserList.tsx
  frontend/front/src/components/ChatPage/RoomInviteModal.tsx
  frontend/front/src/components/ChatPage/RoomModal.tsx
  frontend/front/src/components/ChatPage/UserInfoModal.tsx
  frontend/front/src/components/GamePage/GameInviteModal.tsx
  frontend/front/src/components/ProfilePage/ProfileFriend.tsx
  frontend/front/src/components/TopBar.tsx
  frontend/front/src/components/atom/ChatAtom.ts
  frontend/front/src/components/objects/ChatRoom.tsx
  frontend/front/src/components/objects/UserObj.tsx
  frontend/front/src/pages/ChatPage.tsx
  frontend/front/src/pages/LoginPage.tsx
  frontend/front/src/socket/chat.dto.ts
  frontend/front/src/socket/chat.socket.ts
  frontend/front/src/styles/ChatRoom.css
Labels: - 🔰All Team, -★★★-, chatting

#157 Mym 132 fe admin console
  frontend/front/src/components/ChatPage/ChatArea.tsx
  frontend/front/src/components/ChatPage/ChatRoomList.tsx
  frontend/front/src/components/ChatPage/ChatRoomUserList.tsx
  frontend/front/src/components/ChatPage/ChatUserList.tsx
  frontend/front/src/components/ChatPage/PasswordModal.tsx
  frontend/front/src/components/ChatPage/RoomInviteModal.tsx
  frontend/front/src/components/ChatPage/RoomModal.tsx
  frontend/front/src/components/ChatPage/UserInfoModal.tsx
  frontend/front/src/components/GamePage/PingPong.tsx
  frontend/front/src/components/LoginPage/InitialSetting.tsx
  frontend/front/src/components/LoginPage/Register.tsx
  frontend/front/src/components/ProfilePage/ChangeImageModal.tsx
  frontend/front/src/components/ProfilePage/ChangeNameModal.tsx
  frontend/front/src/components/TopBar.tsx
  frontend/front/src/components/atom/ChatAtom.ts
  frontend/front/src/event/event.util.ts
  frontend/front/src/pages/ChatPage.tsx
  frontend/front/src/pages/GamePage.tsx
  frontend/front/src/pages/LoginPage.tsx
  frontend/front/src/socket/chat.socket.ts
  frontend/front/src/socket/game.socket.ts
Labels: documentation, - ⚛ Frontend, refactor, -★-

#159 Mym 129 be game status
  backend/back/src/database/database.service.ts
  backend/back/src/user/dto/UserProfile.dto.ts
  backend/back/src/user/user.controller.ts
  backend/back/src/user/user.service.ts
Labels: - ⛃ Backend, -★★-

#165 MYM-140 add other user me
  backend/back/src/user/user.controller.ts
Labels: - ⛃ Backend, -★★-

#166 MYM-141 validation pipe add
  backend/back/src/main.ts
Labels: - ⛃ Backend, -★★★-

#184 MYM-151 verify logic changed
  backend/back/src/auth/auth.service.ts
  backend/back/src/user/user.service.ts
Labels: - ⛃ Backend, auth, -★★-

#204 Mym 161 be user me game
  backend/back/src/database/database.service.ts
  backend/back/src/database/entity/game.entity.ts
  backend/back/src/database/entity/user-follow.entity.ts
  backend/back/src/database/entity/user.entity.ts
  backend/back/src/user/dto/UserProfile.dto.ts
  backend/back/src/user/user.service.ts
Labels: - ⛃ Backend, -★★-
