Repository 42-MyMisters/transcendence, pull requests merged in 2023-04, with the labels that each got.

#59 MYM-54-BE-JWT-RefreshToken-feature
  backend/back/package-lock.json
  backend/back/package.json
  backend/back/src/auth/auth.service.ts
  backend/back/src/login/login.controller.ts
  backend/back/src/login/login.module.ts
  backend/back/src/main.ts
  backend/back/src/user/user.entity.ts
  backend/back/src/user/user.service.ts
Labels: - ⛃ Backend, refactor, feature, login

#65 Mym 55 fe game page
  frontend/front/src/App.tsx
  frontend/front/src/components/GamePage/GameInfo.ts
  frontend/front/src/components/GamePage/PingPong.tsx
  frontend/front/src/components/GamePage/PlayerRecordBoard.tsx
  frontend/front/src/components/GamePage/Pong.tsx
  frontend/front/src/components/GamePage/Waiting.tsx
  frontend/front/src/pages/GamePage.tsx
  frontend/front/src/styles/BackGround.css
  frontend/front/src/styles/GamePlayerInfo.css
  frontend/front/src/styles/PingPong.css
Labels: - ⚛ Frontend, -★★-

#67 Mym 55 fe game page add CheckBox, fix PingPong canvas
  frontend/front/src/components/GamePage/CheckBox.tsx
  frontend/front/src/components/GamePage/GameInfo.ts
  frontend/front/src/components/GamePage/PingPong.tsx
  frontend/front/src/components/GamePage/Pong.tsx
  frontend/front/src/components/GamePage/Waiting.tsx
  frontend/front/src/styles/GameInfo.css
  frontend/front/src/styles/PingPong.css
Labels: - ⚛ Frontend, -★★★-

#63 Follow table and game entity added.
  backend/back/package-lock.json
  backend/back/src/app.module.ts
  backend/back/src/auth/auth.service.ts
  backend/back/src/game/game.entity.ts
  backend/back/src/game/game.module.ts
  backend/back/src/game/game.service.ts
  backend/back/src/login/login.controller.ts
  backend/back/src/login/login.module.ts
  backend/back/src/user/user-follow.entity.ts
  backend/back/src/user/user.controller.ts
  backend/back/src/user/user.entity.ts
  backend/back/src/user/user.service.ts
Labels: - ⛃ Backend, feature, -★★★-, api

#71 Mym 63 fe chat page modal
  frontend/front/package-lock.json
  frontend/front/package.json
  frontend/front/src/App.tsx
  frontend/front/src/components/ChatPage/ChatRoomList.tsx
  frontend/front/src/components/ChatPage/ChatRoomUserList.tsx
  frontend/front/src/components/ChatPage/ChatUserList.tsx
  frontend/front/src/components/ChatPage/RoomInviteModal.tsx
  frontend/front/src/components/ChatPage/RoomModal.tsx
  frontend/front/src/components/ChatPage/UserInfoModal.tsx
  frontend/front/src/components/atom/ModalAtom.ts
  frontend/front/src/pages/ChatPage.tsx
  frontend/front/src/styles/ChatList.css
  frontend/front/src/styles/RoomInviteModal.css
  frontend/front/src/styles/RoomModal.css
  frontend/front/src/styles/UserInfoModal.css
Labels: - ⚛ Frontend, -★★★-

#76 Mym 58 be logout
  backend/back/src/auth/auth.service.ts
  backend/back/src/auth/jwt-2fa/jwt-2fa.strategy.ts
  backend/back/src/login/login.controller.ts
  backend/back/src/user/user.entity.ts
  backend/back/src/user/user.service.ts
Labels: - ⛃ Backend, refactor, -★★★-

#81 MYM-71-BE-Refresh-Token-bcrypt-issue
  backend/back/src/auth/auth.service.ts
  backend/back/src/login/login.controller.ts
Labels: - ⛃ Backend, refactor, auth, -★★★-, jwt

#86 Mym 72 be module
  backend/back/src/app.module.ts
  backend/back/src/auth/auth.module.ts
  backend/back/src/auth/auth.service.ts
  backend/back/src/auth/local/local.strategy.ts
  backend/back/src/game/game.module.ts
  backend/back/src/login/login.controller.ts
  backend/back/src/login/login.module.ts
  backend/back/src/user/user.controller.ts
  backend/back/src/user/user.module.ts
  backend/back/src/user/user.service.ts
Labels: - ⛃ Backend, refactor, -★★★-

#88 MYM-75-BE-hotfix-JWTService-keyerror
  backend/back/src/auth/auth.module.ts
  backend/back/src/login/login.module.ts
Labels: - ⛃ Backend, -★★★-

#90 Mym 66 fe store token
  frontend/front/.init
  frontend/front/package-lock.json
  frontend/front/package.json
  frontend/front/src/components/LoginPage/InitialSetting.tsx
  frontend/front/src/components/LoginPage/SignIn.tsx
  frontend/front/src/components/LoginPage/TwoFactorAuth.tsx
  frontend/front/src/components/atom/LoginAtom.ts
  frontend/front/src/pages/LoginPage.tsx
  frontend/front/src/styles/LoginModals.css
  frontend/front/tsconfig.json
Labels: - ⚛ Frontend, -★★★-

#89 Mym 70 be nickname duplicate
  backend/back/src/app.module.ts
  backend/back/src/auth/auth.service.ts
  backend/back/src/login/login.controller.ts
  backend/back/src/user/dto/ChangeNickname.dto.ts
  backend/back/src/user/user.controller.ts
  backend/back/src/user/user.entity.ts
  backend/back/src/user/user.module.ts
  backend/back/src/user/user.service.ts
  backend/back/src/user/validator/forbidden-character.validator.ts
Labels: - ⛃ Backend, -★★★-

#95 MYM-81 change name modal on
  frontend/front/src/components/ProfilePage/ChangNameModal.tsx
  frontend/front/src/components/ProfilePage/ProfileOptions.tsx
  frontend/front/src/components/atom/ModalAtom.ts
  frontend/front/src/pages/ProfilePage.tsx
  frontend/front/src/styles/ProfileModal.css
  frontend/front/src/styles/ProfilePage.css
Labels: -★★-

#101 Mym 87 fe user state chat room speech bubble
  frontend/front/src/components/ChatPage/ChatArea.tsx
  frontend/front/src/components/ChatPage/ChatRoomList.tsx
  frontend/front/src/components/ChatPage/ChatRoomUserList.tsx
  frontend/front/src/components/ChatPage/ChatUserList.tsx
  frontend/front/src/components/objects/ChatRoom.tsx
  frontend/front/src/components/objects/SpeechBubble.tsx
  frontend/front/src/components/objects/UserObj.tsx
  frontend/front/src/styles/ChatArea.css
  frontend/front/src/styles/ChatRoom.css
  frontend/front/src/styles/SpeechBubble.css
  frontend/front/src/styles/UserObj.css
Labels: - ⚛ Frontend, From Jira, feature, -★★-

#106 Mym 89 be config
  backend/back/src/app.module.ts
  backend/back/src/auth/auth.module.ts
  backend/back/src/auth/auth.service.ts
  backend/back/src/auth/jwt-2fa/jwt-2fa.strategy.ts
  backend/back/src/auth/jwt-refresh/jwt-refresh.strategy.ts
  backend/back/src/auth/jwt/jwt.strategy.ts
  backend/back/src/auth/local/local.strategy.ts
  backend/back/src/database/database.module.ts
  backend/back/src/database/database.service.ts
  backend/back/src/database/entity/game.entity.ts
  backend/back/src/database/entity/user-follow.entity.ts
  backend/back/src/database/entity/user.entity.ts
  backend/back/src/game/game.module.ts
  backend/back/src/game/game.service.ts
  backend/back/src/login/login.controller.ts
  backend/back/src/login/login.module.ts
  backend/back/src/tester/tester.module.ts
  backend/back/src/tester/tester.service.ts
  backend/back/src/user/dto/FollowingUser.dto.ts
  backend/back/src/user/dto/UserProfile.dto.ts
  backend/back/src/user/user.controller.ts
  backend/back/src/user/user.module.ts
  backend/back/src/user/user.service.ts
  docker-compose.yml
Labels: - ⛃ Backend, - 🔰All Team, -★★★-, docker

#104 MYM-88 database service added
  backend/back/src/app.module.ts
  backend/back/src/auth/auth.module.ts
  backend/back/src/auth/auth.service.ts
  backend/back/src/auth/jwt-2fa/jwt-2fa.strategy.ts
  backend/back/src/auth/jwt-refresh/jwt-refresh.strategy.ts
  backend/back/src/auth/jwt/jwt.strategy.ts
  backend/back/src/auth/local/local.strategy.ts
  backend/back/src/database/database.module.ts
  backend/back/src/database/database.service.ts
  backend/back/src/database/entity/game.entity.ts
  backend/back/src/database/entity/user-follow.entity.ts
  backend/back/src/database/entity/user.entity.ts
  backend/back/src/game/game.module.ts
  backend/back/src/game/game.service.ts
  backend/back/src/login/login.controller.ts
  backend/back/src/login/login.module.ts
  backend/back/src/tester/tester.module.ts
  backend/back/src/tester/tester.service.ts
  backend/back/src/user/dto/FollowingUser.dto.ts
  backend/back/src/user/dto/UserProfile.dto.ts
  backend/back/src/user/user.controller.ts
  backend/back/src/user/user.module.ts
  backend/back/src/user/user.service.ts
Labels: - ⛃ Backend, refactor, -★★★-

#115 Mym 85 fe socket.io
  backend/back/.prettierrc
  backend/back/src/main.ts
  backend/back/src/socket/events.gateway.ts
  frontend/front/src/App.tsx
  frontend/front/src/components/ChatPage/ChatArea.tsx
  frontend/front/src/components/ChatPage/ChatRoomList.tsx
  frontend/front/src/components/ChatPage/ChatRoomUserList.tsx
  frontend/front/src/components/ChatPage/ChatUserList.tsx
  frontend/front/src/components/ChatPage/RoomModal.tsx
  frontend/front/src/components/GamePage/PlayerRecordBoard.tsx
  frontend/front/src/components/ProfilePage/ProfileFriend.tsx
  frontend/front/src/components/ProfilePage/ProfileMatchHistory.tsx
  frontend/front/src/components/atom/SocketAtom.ts
  frontend/front/src/components/atom/UserAtom.ts
  frontend/front/src/components/objects/ChatRoom.tsx
  frontend/front/src/pages/ChatPage.tsx
  frontend/front/src/pages/LoginPage.tsx
  frontend/front/src/socket/chatting.dto.ts
  frontend/front/src/socket/socket.ts
Labels: - ⚛ Frontend, -★★★-, socket

#121 MYM-102 cache module added
  backend/back/config/default.yml
  backend/back/package-lock.json
  backend/back/package.json
  backend/back/src/app.controller.ts
  backend/back/src/app.module.ts
  backend/back/src/app.service.ts
  backend/back/src/cache/cache.service.ts
  backend/back/src/cache/memory.module.ts
Labels: - ⛃ Backend, -★★★-

#126 MYM-106 user API description add and refactors
  backend/back/src/auth/auth.service.ts
  backend/back/src/login/login.controller.ts
  backend/back/src/user/dto/ChangeNickname.dto.ts
  backend/back/src/user/dto/TokenSet.dto.ts
  backend/back/src/user/dto/TwoFactorConfirm.dto.ts
  backend/back/src/user/user.controller.ts
  backend/back/src/user/user.service.ts
Labels: - ⛃ Backend, -★★-, backend

#130 MYM-109 block list
  backend/back/src/database/database.service.ts
  backend/back/src/user/user.service.ts
Labels: - ⛃ Backend, -★★★-

#127 Mym 94 be socket chatting part
  backend/back/.prettierrc
  backend/back/src/socket/chat.gateway.ts
  frontend/front/src/App.tsx
  frontend/front/src/components/ChatPage/ChatArea.tsx
  frontend/front/src/components/ChatPage/ChatRoomList.tsx
  frontend/front/src/components/ChatPage/ChatRoomUserList.tsx
  frontend/front/src/components/ChatPage/ChatUserList.tsx
  frontend/front/src/components/ChatPage/PasswordModal.tsx
  frontend/front/src/components/ChatPage/RoomModal.tsx
  frontend/front/src/components/ChatPage/UserInfoModal.tsx
  frontend/front/src/components/atom/ChatAtom.ts
  frontend/front/src/components/atom/UserAtom.ts
  frontend/front/src/components/atom/UserInfoModalAtom.ts
  frontend/front/src/components/objects/ChatRoom.tsx
  frontend/front/src/components/objects/UserObj.tsx
  frontend/front/src/event/api.request.ts
  frontend/front/src/event/refresh.token.ts
  frontend/front/src/pages/ChatPage.tsx
  frontend/front/src/pages/LoginPage.tsx
  frontend/front/src/pages/NotFoundPage.tsx
  frontend/front/src/socket/chat.dto.ts
  frontend/front/src/socket/chat.socket.ts
  frontend/front/src/styles/ChatRoom.css
  frontend/front/src/styles/ChatRoomUserList.css
  frontend/front/src/styles/UserObj.css
Labels: - ⛃ Backend, - ⚛ Frontend, -★★★-, socket, chatting
