Repository 42-MyMisters/transcendence, pull requests merged in 2023-03, with the labels that each got.

#6 Develop - config 외부화
  backend/config/default.yml
  backend/package-lock.json
  backend/package.json
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/main.ts
Labels: - Backend

#8 Feature/login auth
  backend/back/config/.gitignore
  backend/back/config/default.yml
  backend/back/config/development.yml
  backend/back/package-lock.json
  backend/back/package.json
  backend/back/src/app.module.ts
  backend/back/src/auth/auth.controller.ts
  backend/back/src/auth/auth.module.ts
  backend/back/src/auth/auth.service.ts
  backend/back/src/configs/typeorm.config.ts
  backend/back/src/main.ts
  backend/back/src/user/dto/IntraTokenDto.ts
  backend/back/src/user/dto/IntraUserDto.ts
  backend/back/src/user/user.entity.ts
  backend/back/src/user/user.repository.ts
  backend/back/src/user/user.service.ts
  backend/start.sh
Labels: - Backend

#37 MYM-39-refactoring-custom-respository-delete
  backend/back/src/auth/auth.module.ts
  backend/back/src/user/user.repository.ts
  backend/back/src/user/user.service.ts
Labels: - ⛃ Backend, refactor, -★★-

#39 MYM-46-BE-userExistFunctionMove
  backend/back/src/auth/auth.service.ts
  backend/back/src/user/user.service.ts
Labels: - ⛃ Backend, refactor, -★★-

#41 MYM-44 change login flow
  backend/back/src/main.ts
  frontend/front/src/App.tsx
  frontend/front/src/components/LoginPage/Authenticator.tsx
  frontend/front/src/components/LoginPage/Register.tsx
  frontend/front/src/pages/LoginPage.tsx
  frontend/front/src/styles/LoginModal.css
Labels: -★-
